
.form-body-signup {
    background-color: #eee;
    margin-top: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 450px;
    width: 400px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 1px solid #eee;
  }
  @media screen and (max-width: 768px) {
      
      .form-body-signup {
          margin-top: 60px;
          height: 450px;
          width: 300px;
        
        }
  }
